# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editor settings
.vscode/

# Data outputs
data/processed/*
!data/processed/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/metrics/*
!reports/metrics/.gitkeep

# Raw dataset files
data/raw/aclImdb/
data/raw/aclImdb_v1.tar.gz
data/raw/imdb_reviews.csv

# Environment files
.env
